.light {
  width: 100%;
  height: 100%;
}

.blinkingAnimation {
  animation: blinking 1s 3;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}